.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features__heading {}

.features__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: var(--gray-dark);
    margin-bottom: 15px;
}

.features__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.25px;
    color: var(--gray-dark);

    margin-bottom: 40px;
}

.features__cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.features__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.features__card:hover{
    transition: 0.2s all;
    box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
}

.features__img {
    margin-bottom: 24px;
    border-radius: 100%;
    border-width: 0;
    display: grid;
    justify-content: end;
}

.features__card-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: var(--gray-dark);
}

.features__card-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--gray-dark);
    margin-bottom: 8px;
}

.features__card-btn {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    border: 1px solid var(--gray-light-3);
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--purple-dark);
    padding: 8px 16px;
}

.features__card-btn:hover {
    transition: 0.2s all;
    background: var(--purple-dark);
    color: white;
}