@media screen and (max-width: 1059px) {

    .pricing {
        order: 3;
    }

    .container {}

    .pricing__heading {}

    .pricing__title {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }

    .pricing__radios {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }

    .pricing__radio_active {}

    .pricing__radio {}

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {}

    .card__name {}

    .card__price {}

    .card__price-small {}

    .card__feature-list {}

    .card__feature {}

    .card__btn {}
}

