@media screen and (max-width: 1059px) {

    .pricing {
        order: 3;
    }

    .pricing__title {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }

    .pricing__radios {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}